
		#title {
			position: absolute;
			text-align: left;
			width:250px;
			bottom:0%;
			font-size: 12px;
			font-family: Open Sans;
			z-index: 9998;
			margin-left:20px;
			-webkit-filter: drop-shadow(5px 5px 5px #222);
  			filter: drop-shadow(5px 5px 5px #222);
  			display:inline;

		}
		#copyright {
			position: absolute;
			text-align: right;
			width:100%;
			bottom:0%;
			font-size: 8px;
			font-family: Open Sans;
			z-index: 9998;
			margin-right:20px;
			-webkit-filter: drop-shadow(5px 5px 5px #222);
  			filter: drop-shadow(5px 5px 5px #222);
  			display:none;
		}
		.noselect {
		  -webkit-touch-callout: none; /* iOS Safari */
		    -webkit-user-select: none; /* Safari */
		     -khtml-user-select: none; /* Konqueror HTML */
		       -moz-user-select: none; /* Firefox */
		        -ms-user-select: none; /* Internet Explorer/Edge */
		            user-select: none; /* Non-prefixed version, currently
		                                  supported by Chrome and Opera */
		}
		#footer {
			z-index: 9998;
			position: absolute;
			background-color: rgba(1, 66, 101, 0.8);
			font-size: 4px;
			left:0;
			bottom: 0;
			margin-bottom: 1px;
			font-family: Gotham;
			padding: 2px;
		}
		a {
			color:inherit;text-decoration: none;
		}
		a:hover {
		  color: white;
		}
		#qrcode-container {
			position: absolute;
			background: white;
			opacity: 1;
			z-index: 9999;
			left:43%;
			top:40%;
			cursor: pointer;
			display:none;
		}	
		#qrcode {
			border: 10px solid white;
		}
		#btn_qrcode {
			content:url(../img/btn_qrcode.png);
			position: absolute;
			opacity: 1;
			z-index: 9998;
			right:22px;
			bottom: 100px;
			cursor: pointer;
			width:35px;
			height:auto;
			display:none;
		}
		.qrcodedisplay {
		  display: none;
		}
		#qrbox {
			width:	100%;
			height: 100%;
			position: absolute;
			background: #25282A;
			opacity: 0.9;
			cursor: pointer;
			z-index: 9999;
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}